* {
    box-sizing: border-box;
}

.container {
        text-align: center;
        max-width: 1024px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.25em;
        margin: auto;
        line-height: 1.15;

	}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}

.wrap{
    min-height: 100vh;
}



/***Body***/


ul {
    padding-left: 0;
}


h1{
    text-align: center;
    
}


p{
    margin-bottom: 3.125em;
    text-align: center;
}

img {
    max-width: 100%;
    padding: 10px;


}




.main-nav{
    margin-bottom: 1.250em;
}


.main-nav li {
    list-style: none;

    
}


.sec-nav{
   float: right;
}

.sec-nav li{
    list-style: none;
    float: left;
    margin-right: 8px;

}


#intro{
    text-align: center;
}

.bcn p {
    text-align: center;
}


/***Footer***/

#name{
    float: left;
    padding-left: 8px;
}

.hide{
    display: none;
}

.bhm{
    list-style: none;
}

footer{
    margin-top: 2.500em;
    border-top: lightgrey 1px solid;
    margin-bottom: 2.500em;

}


/**pseudo classes**/


a:link {
    color: teal;
    text-decoration: none;
}

a:visited {
    color: blue;

}

a:hover{
    color: orange;

}

a:focus {
    color: palevioletred;

}



/***Media Query Section***/

@media (min-width: 768px) {
    .container{
        margin: auto;
    }


    .main-nav{
        text-align: center;
    }



    .main-nav li {
        list-style: none;
        display: inline;
    
    }


    #intro{
        text-align: left;
    }


    .me {
        width: 50%;
        float: right;
        margin-left: 10px;
    }

    .p1{
        float: left;
        width: 50%;
        margin-top: 1.250em;
    }

    .p2{
        float: left;
        width: 50%;
        margin-top: 1.250em;
    }

    .p3{
        float: left;
        width: 50%;

    }

    .p4{
        float: left;
        width: 50%;
    }

    .p5{
        float: left;
        width: 50%;
    }

    .p6{
        float: left;
        width: 50%;
    }

    /**Footer**/


    .sec-nav{
        float: right;
    }

    .sec-nav li{
        list-style: none;
        float: left;
        margin-right: 8px;
    }

    .hide{
        display: inline-block;
    }

    .bhm{
        display: none;
        list-style: none;
    }
}


@media (min-width: 1024px) {

    .container{
        max-width: 1024px;
        margin: auto;
    }

    .main-nav{
        float: right;
    }

    .main-nav li {
        list-style: none;
        float:left;
        margin-left: 1.25em;
    }
 
    
    .me {
        width: 40%;
        float: right;
    }

    #intro{
        float: left;
        width: 40%;
    }

    h1{
        float: left;
        
    }

    
    .p1{
        float: left;
        width: 33.333%;
        margin-top: 1.250em;
    }

    .p2{
        float: left;
        width: 33.333%;
        margin-top: 1.250em;
    }

    .p3{
        float: left;
        width: 33.333%;
        margin-top: 1.250em;
        clear: right;

    }

    .p4{
        float: left;
        width: 33.333%;

    }

    .p5{
        float: left;
        width: 33.333%;
    }

    .p6{
        float: left;
        width: 33.333%;

    }

    .bcn{
        display: inline-block;
    }

/**Footer**/
.sec-nav{
    float: right;
}

.sec-nav li{
    list-style: none;
    float:left;
    margin-right: 8px;
}

.bhm{
    display: none;
    list-style: none;
}


}